
.vs/AcuCafe/v16/.suo
.vs/AcuCafe/v16/.suo
.vs/AcuCafe/DesignTimeBuild/.dtbcache.v2
AcuCafe/bin/Debug/AcuCafe.dll
AcuCafe/bin/Debug/AcuCafe.pdb
AcuCafe/obj/Debug/AcuCafe.csproj.CoreCompileInputs.cache
AcuCafe/obj/Debug/AcuCafe.csprojAssemblyReference.cache
